@font-face {
    font-family: 'GT-America-Standard-Light';
    src: url('../assets/fonts/GT-America-Standard-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'GT-America-Extended-Black';
    src: url('../assets/fonts/GT-America-Extended-Black.woff2');
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 244px;
    height: 254px;

    border: 1px solid black;
    box-shadow: 2px 2px black;

    text-align: center;

    .header {
        display: flex;
        justify-content: center;
        height: 80px;
        img {
            margin: 8px 0
        }
    }

    .content {
        width: 208px;
        margin: auto;

        h3 {
            text-transform: uppercase;
            margin-top: 0;
        }
    
        p {
            margin-top: 0;
            font-family: 'GT-America-Standard-Light';
            font-size: 12px;
        }
    }

    button {
        width: 65%;
        height: 31.5px;
        margin: 0 auto 24px;
        text-transform: uppercase;
        cursor: pointer;
        font-family: 'GT-America-Extended-Black';

        .unsubscribed {
            
            color: black;
        }

        .subscribed {
            
            color: white;
        }
    }
}